.reviews {
	margin: 4rem 0 1rem;

	&__title {
		color: $main-white;
	}

	&__list {
		height: 315px;
		// padding: 0 2rem !important;
		width: 80%;
		.review {
			width: 560px !important;
			background-color: black;
			transition: height 0.8s ease-in-out;
			height: 260px !important;
		}
		.swiper-wrapper {
			align-items: center;
		}
		.swiper-slide-active {
			height: inherit !important;
		}
		.swiper-slide-prev, .swiper-slide-next {
			height: 260px;
		}
	}
	.reviews-btn {
		// top: initial !important;
	}
}

.videoIframe {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: transparent;
}

.videoPoster {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 97.8%;
	height: 99.2%;
	background-image: url(http://c.fastcompany.net/multisite_files/cocreate/imagecache/inline-large/inline/2013/01/1682283-inline-inline-2-music-veteran-amani-duncan-on-marketing-cf-martin-the-worlds-oldest-guitar-maker.jpg);
	background-size: 100%;
	border: none;
     text-indent: -999em;
	overflow: hidden;
	opacity: 0.3;
	-webkit-transition: opacity 800ms, height 0s;
	-moz-transition: opacity 800ms, height 0s;
	transition: opacity 800ms, height 0s;
	-webkit-transition-delay: 0s, 0s;
	-moz-transition-delay: 0s, 0s;
	transition-delay: 0s, 0s;
}

.videoPoster:hover {
	cursor: pointer;
}

.videoPoster:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 80px;
	height: 80px;
	margin: -40px 0 0 -40px;
	border: 5px solid #fff;
	border-radius: 100%;
	-webkit-transition: border-color 300ms;
	-moz-transition: border-color 300ms;
	transition: border-color 300ms;
}

.videoPoster:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 0;
	height: 0;
	margin: -20px 0 0 -10px;
	border-left: 40px solid #fff;
	border-top: 25px solid transparent;
	border-bottom: 25px solid transparent;
	-webkit-transition: border-color 300ms;
	-moz-transition: border-color 300ms;
	transition: border-color 300ms;
}

.videoPoster:hover:before,
.videoPoster:focus:before {
	border-color: #f00;
}

.videoPoster:hover:after,
.videoPoster:focus:after {
	border-left-color: #f00;
}

.videoWrapperActive .videoPoster {
	opacity: 0;
	height: 0;
	-webkit-transition-delay: 0s, 800ms;
	-moz-transition-delay: 0s, 800ms;
	transition-delay: 0s, 800ms;
}

.swiper-slide-active .videoPoster {
	opacity: 1;
}