.speakers {
	background: radial-gradient(53.94% 130.48% at 73.95% 38.76%, #30A0F0 0%, #0080E0 45.12%, #0060C0 100%);
	box-shadow: 0px 4px 20px rgba(0, 32, 64, 0.19);
    width: 100%;
    margin-top: 1rem;
    padding-top: 3rem;
    &__title {
        color: $main-white;
    }
    &__list {
        width: 90%;
        margin: 0 auto;
        margin: 3rem auto 0 auto;
        padding: 0 2rem !important;
        justify-content: center;
        .speaker {
            width: 208px;
            text-align: center;
            // margin: 0 1rem;
            &__photo {
                padding: 1rem;
                img {
                    width: 168px;
                    height: 168px;
                    border-radius: 50%;
                    object-fit: cover;
                    object-position: 100% 0%;
                }
            }
            &__name {
                color: $main-white;
                font-family: 'Roboto Bold';
                
            }
            &__info {
                color: $main-white;
                font-size: .9rem;
                padding: 1rem 0;
            }
            &__text {
                font-family: 'Roboto Bold';
                line-height: 1.2rem;
                color: $main-white;
            }
        }
    }
        &__mail-us {
            text-align: center;
            color: $main-white;
            a {
                color: inherit;
                text-decoration: underline $main-white;
            }
        }
}

/* slider */
.swiper {
    // width: 1136px;
    height: 520px;
    padding: 0 2rem;
}
.swiper-button-prev::after, .swiper-button-next::after {
    font-weight: bold;
}
