@import 'fonts';
@import 'normalize';
@import 'breakpoints';
@import 'variables';
@import 'header';
@import 'approaches';
@import 'benefits';
@import 'course-programme';

html,
body {
	font-family: $roboto-regular, sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
    background: url('assets/img/body-bg.png') no-repeat center center fixed;
    background-size: cover; 

}
*,
*:before,
*:after {
	box-sizing: inherit;
}

main {
    margin: -11.7rem auto 4rem;
    max-width: 1344px;
    @include xll {
    }
}
section {
    padding: 1rem;
    @include sm {
        padding: 1.5rem;
    }
}
.flex-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    /*
    flex-flow is the combination of flex-direction and flex-wrap.
      justify-content: flex-start;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: flex-start;
    */
  }
  .flex-item {
    flex: 0 1 auto;
  }

  .pc {
    max-width: 900px;
    margin: 0 auto;
    left: 46.3%;
    padding: 0 8.5rem;
    top: 7.9rem;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    z-index: 100;
  }
  .btn {
    background: linear-gradient(90deg, #FF8000 0%, #FC710D 100%);
    border-radius: 14px;
    border: transparent;
    font-weight: 700;
    text-align: center;
    color: $main-white;
    cursor: pointer;
  }
  .link {
    display: inline-block;
    text-decoration: none;
    cursor: grab;
  }
  h2 {
    font-family: 'Roboto Bold';
    text-align: center;
    font-size: 1.5rem;
  }